body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden; /* Eliminar barra de desplazamiento horizontal */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

#taskInput {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li.tarea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    flex-wrap: nowrap; /* No permitir que los elementos se envuelvan */
}

li.tarea p {
    margin: 0;
    flex-grow: 1;
    margin-right: 10px; /* Espacio entre el párrafo y el label */
    word-break: break-word; /* Permitir que el texto se ajuste en varias líneas */
}

li.tarea input[type="checkbox"] {
    margin-right: 10px;
}

li.tarea button.borrar {
    background-color: #dc3545;
    margin-left: 10px;
}

li.tarea button.borrar:hover {
    background-color: #c82333;
}

li.tarea label {
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    #taskInput {
        width: calc(100% - 20px);
    }

    li.tarea {
        flex-direction: row;
        align-items: center;
    }

    li.tarea p {
        margin-bottom: 0;
    }

    li.tarea button.borrar {
        margin-left: 10px;
        margin-top: 0;
    }
}

