.status-dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #ccc; /* color por defecto */
}

.status-dot.success {
    background-color: #28a745; /* verde para éxito */
}

.status-dot.error {
    background-color: #dc3545; /* rojo para error */
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}
  